* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  margin: 0;

  background-color: #272b31;
}

canvas {
  image-rendering: pixelated;
}
